* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/plitka.jpg");
    background-repeat: repeat;
    position: relative;
    font-family: Ubuntu, sans-serif;
}

h1 {
    font-style: italic;
    text-transform: uppercase;
    color: #CD5C5C;
    text-shadow: 1px 1px 1px #2F4F4F;
    text-align: center;
}

td {
    border: 1px solid #CD5C5C;
}

h3 {
    color: #2F4F4F;
    background-color: #FFEFD5;
    padding: 3px 5px;
    border: 1px solid #CD5C5C;
    border-radius: 90px;
    height: 28px;
    width: 160px;
    margin: 30px 600px;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 1px 1px 1px #CD5C5C;
    overflow: hidden;
}

p {
    line-height: 30px;
    color: #FFEFD5;
    background-color: rgba(205, 92, 92, 1);
    padding: 20px;
    border: 1px solid #CD5C5C;
    border-radius: 90px;
    margin: 30px;
}

em {
    font-size: 20px;
    font-weight: bolder;
    color: #008080;
    text-decoration: underline;
}

ol {
    list-style-type: none;
    color: #2F4F4F;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #FFEFD5;
    padding: 30px;
    border: 1px solid #CD5C5C;
    border-radius: 70px;
    margin: 30px;
}

hr {
    margin: 10px 280px;
    border: 4px solid #000000FF;
}

ul {
    word-spacing: 2px;
}

table {
    border-spacing:8px;
    text-align: center;
    border: 1px solid #2F4F4F;
    border-collapse: collapse;
}

a {
    color: inherit;
}

p ~ h3 {
    color: #af2d2d;
}

p:first-child {
    white-space: nowrap;
}

#par_one,
dl {
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    padding: 30px;
    text-indent: 30px;
    background-image: linear-gradient(155deg, #191970, #CD5C5C);
    margin: 30px;
    color: #FFEFD5;
    word-break: break-all;
}

[id="sup"] {
    vertical-align: super;
}

.display_block {
    display: block;
    background-image: linear-gradient(180deg, #191970, #008080);
    text-align: center;
    border-radius: 5px;
    width: 50%;
    margin: 30px;
}

.position_ {
    position: fixed;
    top: 20px;
    left: 943px;
}

.wrap {
    background-color: #FFEFD5;
    padding: 30px;
    border: 1px solid #CD5C5C;
    border-radius: 70px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

[class="background"] {
    margin: 30px 400px;
    background-color: #FFEFD5;
    padding: 10px;
    text-align: center;
    border: 3px solid #ffd900;
    border-radius: 10px;
    box-shadow: -10px -10px 10px 10px #ffc60096;
    width: 665px;
}

.city {
    font-style: italic;
    color: #008080;
    font-weight: bolder;
    outline: 2px solid #af2d2d;
}

.strong_decoration {
    color: #008080;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
}

.container {
    border: 1px solid #032e64;
    height: 80px;
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #FFEFD5;
}

.container > div {
    border-radius: 5px;
    width: 20%;
    height: 50%;
}

.element1 {
    background-color: #00CED1;
    color:#032e64;
    align-self: flex-start;
}

.element2 {
    background-color: #FFD700;
    color:#032e64;
    align-self: center;
}

.element3 {
    background-color: rgba(205, 112, 224, 0.98);
    color: #FFEFD5;
    align-self: flex-end;
    visibility: hidden;
}

.element4 {
    background-color: #03641e;
    color: #FFEFD5;
    align-self: center;
}

[href="banks_of_spain.html"] {
    color: darkred;
}

input[type="text"],
input[type="email"],
[value] {
    font-style: italic;
    color: #008080;
}

[colspan="2"],
[rowspan="2"] {
    background-color: #fb8498;
}

label[for] {
    text-decoration: underline;
    text-transform: uppercase;
    color: #008080;
    word-spacing: 2px;
}

label[for="m"]::after {
    content: url("../images/icons8-cheburashka-16.png");
}

label[for="f"]::after {
    content: url("../images/bender_icon.png");
}

.parent li {
    list-style-image:url("../images/olive.png");
    font-size: 15px;
}

ul > li {
    list-style-image:url("../images/jamon.png");
    font-size: 30px;
    list-style-position: inside;
    cursor: default;
}

dt::after {
    content: " \265B";
}

:focus {
    background-color: #fb8498;
}

input:checked {
    width: 20px;
    box-shadow: 1px 1px 1px 1px #fb8498;
}

[type="submit"] + button {
    background-color: #fb8498;
    border: 2px solid #fb8498;
    box-shadow: inset 2px 1px 15px #FFEFD5;
}

.red_bottom {
    border:2px solid #CD5C5C;
    background-color: #FF0000;
    margin: 0;
    height: 25%;
}

a:hover {
    font-size: 70px;
    background-color: #FF0000;
    border: 5px dotted #032e64;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    z-index: 1;
}

/*---------Animation*/

.animation {
    border:2px solid #CD5C5C;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.red_top {
    border:2px solid #CD5C5C;
    background-color: #FF0000FF;
    margin: 0;
    height: 25%;
}

.yellow {
    border:2px solid #f1c107;
    background-color: #f1c107;
    margin: 0;
    height: 50%;
    position: relative;
}

.ox {
    position: absolute;
    top: 80px;
    right: 0;
    animation-name: superOx;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes superOx {
    0% {
        top: 0;
        right: 10%;
    }

    25% {
        top: 80px;
        right: 25%;
    }

    50% {
        top: 0;
        right: 50%;
    }

    75% {
        top: 80px;
        right: 75%;
    }

    100% {
        top: 0;
        right: 90%;
    }
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
}
