* {
    box-sizing: border-box;
    outline: none;
}

body {
    background: fixed url(../images/bg.jpg) no-repeat top center;
    font-family: 'Trebuchet MS', sans-serif;
}

.app {
    background: #fff;
    width: 1100px;
    margin: 250px auto 0;
}

.top-bar {
    background-color: #2f364a;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

.top-bar > div:not(:first-child) {
    margin-left: 15px;
}

.top-bar .view-type button {
    cursor: pointer;
}

.top-bar .view-type .active {
    background: #15a4fa;
}

.filters {
    background: rgba(241, 241, 241, 1);
    padding: 15px;
    font-size: 15px;
    color: #464646;
    font-weight: bold;
}

.filters .countries {
    margin-bottom: 1em;
}

.movies {
    overflow: hidden;
    padding: 57px 50px;
}

.movies:empty {
    display: none;
}

/* --------------------------------------------- Movies: State => tiles */
.movies.state-tiles .movie {
    float: left;
    margin: 0 7px;
    width: 152px;
    height: 280px;
    font-family: 'Trebuchet MS', sans-serif;
}

.movies.state-tiles .movie:hover {
    transform: scale(1.1);
}

.movies.state-tiles .movie-image-container {
    overflow: hidden;
    margin-bottom: 3px;
    box-shadow: 0 1px 4px 0 #000;
    border-radius: 3px;
}

.movies.state-tiles .movie img {
    display: block;
    width: 152px;
    height: 220px;
}

.movies.state-tiles .movie-title {
    height: 15px;
    margin-bottom: 3px;
    overflow: hidden;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.movies.state-tiles .movie-title:hover {
    text-decoration: underline;
}

.movies.state-tiles .movie-details {
    height: 15px;
    margin-bottom: 3px;
    line-height: 14px;
    overflow: hidden;
}

.movies.state-tiles .movie-details span {
    font-size: 11px;
    color: #848484;
}

/* --------------------------------------------- Movies: State => list */
.movies.state-list .movie {
    margin-bottom: 20px;
    box-shadow: 0 -30px 94px -8px rgba(0, 0, 0, 0.1) inset;
    padding: 10px;
    overflow: hidden;
}

.movies.state-list .movie-image-container,
.popup .movie-image-container {
    overflow: hidden;
    box-shadow: 0 1px 4px 0 #000;
    border-radius: 3px;
    float: left;
    margin-right: 20px;
}

.movies.state-list .movie img,
.popup .movie img {
    display: block;
    width: 152px;
    height: 220px;
}

.movies.state-list .movie-title,
.popup .movie-title {
    text-decoration: none;
    line-height: 18px;
    font-size: 16px;
    color: #78829d;
}

.movies.state-list .movie-title:hover,
.popup .movie-title:hover {
    text-decoration: underline;
}

.movies.state-list .movie-details,
.popup .movie-details {
    line-height: 18px;
    font-size: 13px;
    color: #363636;
    border-collapse: collapse;
    margin: 3px;
}

.movies.state-list .movie-details th,
.popup .movie-details th {
    text-align: left;
    padding-right: 7px;
}

.movies.state-list .movie-details td,
.popup .movie-details td {
    color: #a4a4a4;
}

.movies.state-list .movie-plot,
.popup .movie-plot {
    line-height: 18px;
    font-size: 13px;
    color: #383838;
}

.movies.state-list .movie-details span,
.popup .movie-details span {
    font-size: 11px;
    color: #848484;
}

/* --------------------------------------------- Pagination */
.pagination {
    text-align: center;
    padding: 57px 0 0 0;
}

.pagination:empty {
    display: none;
}

.pagination button {
    cursor: pointer;
}

.pagination .active {
    background: #15a4fa;
}

/* --------------------------------------------- Overlay */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.8;
}

/* --------------------------------------------- PopUp */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 14px solid #fff;
}

.popup .movie {
    box-shadow: 0 -30px 94px -8px rgba(0, 0, 0, 0.1) inset;
    padding: 10px;
    overflow: hidden;
}

.popup .close {
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
}
