* {
    box-sizing: border-box;
}

body {
    background-color: #e7e5c8;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    color: #6e6b3d;
    margin: 0 auto;
    width: 706px;
}

a {
    color: #90aa1f;
}

a:hover {
    text-decoration: none;
}

h1,
h2 {
    font-family: "Times New Roman", serif;
    font-size: 14px;
}

h1 {
    margin: auto 40px;
}

span {
    color: #90aa1f;
}

ul {
    list-style-image: url("../images/dot.gif");
    list-style-position: outside;
    padding-left: 25px;
    text-decoration: underline;
}

/* --------------------------------------------- Header */
header {
    position: relative;
    height: 88px;
}

header::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    content: '';
    border-top: 1px solid #c0bd9a;
    border-bottom: 1px solid #f1f0e0;
}

.logo {
    position: absolute;
    left: 29px;
    top: 28px;
}

.phones {
    background: url("../images/phone.png") no-repeat;
    width: 274px;
    height: 88px;
    position: absolute;
    right: -25px;
    top: -8px;
    z-index: 1;
    color: #f9f9f2;
    text-indent: -10px;
    padding: 23px 0 0 113px;
    font-weight: bold;
}

/* --------------------------------------------- Main */
.mainElement1 {
    border-right: 1px solid #f1f0e0;
    width: 243px;
}

.containerContentElements {
    display: flex;
    background-color: #dedbbb;
    border-radius: 5px;
    padding: 8px;
    position: relative;
}

.containerContentElements::before {
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    content: '';
    border-top: 1px solid #c0bd9a;
    border-bottom: 1px solid #f1f0e0;
}

.mainElement1 > h2 {
    margin: 2px 10px;
}

.mainElementImages {
    border: 3px solid #b7b192;
    border-right: 18px solid #b7b192;
    border-radius: 5px;
}

.element1 {
    margin: 15px 3px 4px 10px;
}

.element2 {
    margin: 15px 12px 4px 2px;;
}

.element3 {
    margin: 4px 3px 4px 10px;
}

.element4 {
    margin: 4px 12px 4px 2px;
}

.mainElement2 {
    border-left: 1px solid #c0bd9a;
    border-right: 1px solid #f1f0e0;
    width: 240px;
}

.mainElement2 > img {
    border-radius: 5px;
    border: 3px solid #b7b192;
    margin: 15px 16px;
    width: 205px;
    height: 48px;
}

.mainElement2 > h2,
.mainElement3 > h2,
.mainElement2 > p,
.mainElement3 > p {
    margin: 2px 16px;
}

.mainElement3 {
    border-left: 1px solid #c0bd9a;
    width: 219px;
}

.mainElement3 {
    background-image: url("../images/elephant.jpg");
    background-repeat: no-repeat;
    background-position:bottom right;
}

.mainContent {
    display: flex;
    flex-direction: row;
    margin: 30px auto;
}

.mainContent::before {
    content: url("../images/ho.jpg");
}

/* --------------------------------------------- Footer */
footer {
    background: url("../images/welcome.jpg") no-repeat 22px 22px;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100px;
}

.address {
    background: url("../images/map.jpg") no-repeat 0 0;
    width: 253px;
    margin: 6px;
    padding: 20px 0 0 60px;
}

.address h2 {
    margin: 0 0 5px 10px;
}

.address p {
    margin: 0;
}
