body {
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

h3 {
   color: #221f1f;
    margin: 40px ;
}

img {
    max-width: 40%;
    max-height: 40%;
    margin: 20px 40px;
}
.text-position {
    position: absolute;
    top: 340px;
    word-break: break-word;
}

.text-position2 {
    position: absolute;
    top: 760px;
    word-break: break-word;
}


.text-position3 {
    position: absolute;
    top: 1360px;
    word-break: break-word;
}

.hidden {
    visibility: hidden;
}

.columns::after {
    content: '';
    display: block;
    clear: both;

}

.price {
    color: #221f1f;
    text-transform: uppercase;
    font-size: 25px;
}

.new {
    color:#f84147;
    text-transform: uppercase;
    font-size: 25px;
}

.old {
    color: #d2d2d2;
    font-weight: bold;
    text-decoration: line-through;
    font-size: 15px;
}

.column {
    float: left;
    width: 19%;
    height: 400px;
    text-align: left;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}


a,
p {
    margin: 5px 10px;
    text-decoration: none;


}

a:hover {
    color: #ff7878;
    text-decoration: underline;
}

.like {
    position: absolute;
    background-color: snow;
    background-image: url("imgs/wish.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;

}

button:hover {
    background-color: #f4faf6;

}