/*
    Основной шрифт страницы
    font-family: Verdana, sans-serif;

    Для контента используется
    font-family: Tahoma, sans-serif;

    Для меню выше и ниже контента используется
    font-family: "Times New Roman", serif;
*/