/*
    Основной шрифт страницы
    font-family: Verdana, sans-serif;

    Для контента используется
    font-family: Tahoma, sans-serif;

    Для меню выше и ниже контента используется
    font-family: "Times New Roman", serif;
*/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    background: url("../images/background.gif") repeat;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*--------------------------- Header */
header {
    border-bottom: 1px solid #a36917;
    background-color: #000000;
    display: flex;
    color: #ffffff;
    height: 32px;
}

.location {
    margin: auto 8px auto auto;
}

.location label {
    margin-right: 10px;
}

/*--------------------------- Main */
.mainContainer {
    width: 720px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.breadcrumb {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px;
}

.breadcrumb a {
    margin-left: 10px;
    color: #f2ebeb;
    position: relative;
}

.binLink {
    padding-left: 24px;
}

.binLink::before{
    content: url("../images/bin.gif");
    position:absolute;
    top: 0;
    left: 0;
}

.contentContainer {
    background-color: #000000;
    border-left: 1px solid #a36917;
    border-right: 1px solid #a36917;
    flex-grow: 1;
    position: relative;
    padding-bottom: 30px;
}

.menu {
    display: flex;
    margin-bottom: 30px;
}

.menu a {
    margin: 10px 0 5px 20px;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    padding-right: 30px;
    border-right: 1px solid #c59e52;
    color: #ffffff;
}

.menu a:last-child,
.navbar a:last-child {
    border-right: none;
}

.contentContainer .menu a:hover {
    color: #c59e52;
    text-decoration: none;
}

/*-------------------------------------------- Main Content */
.mainContent {
    color: #bfccbf;
    font-family: Tahoma, sans-serif;
    padding: 0 7px;
}

.mainContent::after {
    content: '';
    display: block;
    clear: both;
}

/*----------------------------------- Navbar */
.navbar {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.navbar a {
    font-family: "Times New Roman", serif;
    padding-left: 4px;
    padding-right: 4px;
    border-right: 1px solid #a36917;
    color: #c59e52;
    font-size: 12px;
}

/*---------------------------- Footer */
footer {
    border-top: 1px solid #a36917;
    background-color: #000000;
    display: flex;
    height: 33px;
    color: #ffffff;
    padding-left: 10px;
    font-size: 8px;
}

.footerLinks {
    margin: auto 8px auto auto;
}

.footerLinks a {
    color: #ffffff;
    margin-left: 10px;
}
