$module-contacts-background: #3c322f;
$body-background: #473B38;
$a-hover-top: #594546;
$hr-line-color: #6A5455;
$contact-color: #a28c8b;
$lable-color: #c2c2c2;
$discount-color: #cac4c1;
$a-color: #decacb;
$white: #ffffff;
$h-color: #95d0d9;
$border-radius: 5px;

@mixin links {
    &:hover {
        text-decoration: none;
    }
}

@mixin hover-decoration {
    border-top: 8px solid $a-hover-top;
}

@mixin display {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin blue-header {
    color: $h-color;
    font-family: Verdana, sans-serif;
    margin-bottom: 30px;
}

@mixin button {
    background-image: linear-gradient(180deg, #55c1d1, #168fa1);
    border-top: 1px solid #b5e4eb;
    border-left: 1px solid #6abdca;
    border-bottom: #0d5e6a;
    border-right: #358e9b;
    border-radius: $border-radius;
    width: 250px;
    height: 35px;
    text-align: center;
    color: $white;
    font-size: 15px;
    text-shadow: -1px -1px 0 #1e545c;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #473B38;
}

.page {
    width: 950px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 120px;
    position: relative;
}

h4 {
    @include blue-header;
}

/* ------------------------------------------ Header */
.header {
    height: 100px;
    border-bottom: 1px solid $hr-line-color;
    padding-bottom: 17px;
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .logo {
        position: absolute;
        top: 17px;
        left: 0;
    }

    .navigation {
        a {
            color: $a-color;
            text-decoration: none;
            margin-left: 12px;
            padding: 6px;
            font-size: 15px;

            &:hover,
            &.activePage {
                @include hover-decoration;
            }
        }
    }
}

/* ------------------------------------------ Layout */
.main {
    padding: 30px 0;
    display: flex;

    .containerContacts {
        width: 300px;
        padding-right: 40px;
    }

    .containerContent {
        width: 650px;
        padding-right: 20px;
    }
}

/* ------------------------------------------ Module: Discount */
.moduleDiscount {
    background-color: $a-hover-top;
    border: 1px solid #775e60;
    width: 400px;
    height: 140px;
    position: relative;
    left: -140px;
    color: $a-color;
    margin-bottom: 25px;
    padding: 20px 3px 0 80px;

    h2 {
        margin-bottom: 5px;
        font-size: 20px;

        span {
            font-size: 23px;
        }
    }

    p {
        margin-bottom: 5px;
        color: $discount-color;
    }
}

/* ------------------------------------------ Module: Contacts */
.moduleContacts {
    background-color: #3c322f;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 12px;
    color: $contact-color;
    line-height: 18px;

    .address {
        font-style: italic;
        color: $white;
        font-weight: bold;
    }

    p {
        margin-bottom: 15px;
    }

    button {
        @include button;
        width: 100%;
        margin: 30px 0;
    }
}

/* ------------------------------------------ Module: Registration form */
.moduleRegistrationForm {
    background-image: url("../images/discount-cart.jpg");
    background-repeat: no-repeat;
    text-align: right;
    min-height: 192px;
    margin-bottom: 25px;

    h4 {
        margin: 0 25px 15px 0;
    }

    label {
        margin: 11px;
        vertical-align: middle;
        color: $lable-color;
        font-size: 14px;
    }

    input {
        border: 1px solid $h-color;
        width: 170px;
        height: 20px;
        margin: 0 0 10px 10px;
    }

    button {
        @include button;
        margin: 20px 0;
    }
}

/* ------------------------------------------ Module: Content */
.moduleContent {
    color: $lable-color;

    p {
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 18px;
    }

    li {
        font-size: 13px;
        line-height: 18px;
    }
}

/* ------------------------------------------ Module: Participants */
.moduleParticipants {
    h5 {
        font-size: 15px;
        color: $white;
    }

    a.allParticipants {
        float: right;
        font-size: 13px;
        color: $a-color;
        @include links;
    }

    .images {
        display: flex;
        flex-wrap: wrap;

        img {
            margin: 13px 26px 13px 0;
            border: 10px solid $module-contacts-background;

            &:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
}

/* ------------------------------------------ Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $contact-color;
    height: 120px;
    background: url("../images/logo-krp.jpg") no-repeat 0 16px;
    padding: 16px 0 16px 100px;
    display: flex;
    align-items: center;

    a {
        color: $white;
        @include links;
    }
}
