* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.grid {
    width: 1014px;
    margin: 0 auto;
    position: relative;
}

/* -------------------------- Header */
.header {
    background-image: linear-gradient(180deg, #2f3339 11px, #17181b 80px, #000 80px, #000 233px, #2f3339 233px, #16181b 321px, #000);

    .grid {
        height: 315px;
        background: url("../images/car.png") no-repeat 427px 0;
    }

    .logo {
        position: absolute;
        top: 81px;
        left: 97px;

        p {
            color: #a8aebe;
            font-size: 17px;
        }
    }
}

/* -------------------------- Menu */
.menu {
    background: linear-gradient(#fd6d03, #fd5203);
    border: 1px solid #000000;

    .grid {
        height: 38px;
        display: flex;
        padding-left: 24px;
    }

    a {
        color: #23262b;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        width: 171px;
        height: 32px;
        text-align: center;
        cursor: pointer;
        padding-top: 10px;
        margin-right: 3px;

        &.active,
        &:hover {
            color: #fd6703;
            background: linear-gradient(#202328, #16171a);
            border: 1px solid #000000;
            border-top: none;
            border-radius: 0 0 10px 10px;
            margin-top: -1px;
        }
    }
}

/* -------------------------- Main */
.main {
    border-top: 25px solid #000;
    background: #2f3239;
    flex-grow: 1;

    .grid {
        display: flex;
        padding: 0 22px;
        color: #e5e5e5;
        height: 100%;
    }

    h2 {
        color: #fd6703;
        font-size: 20px;
        font-weight: normal;
    }

    p {
        font-size: 12px;
        line-height: 15px;
        margin: 10px 0 7px 0;
    }

    a {
        color: #e5e5e5;

        &:hover {
            text-decoration: none;
        }
    }

    .about,
    .services,
    .gallery {
        width: 33.3%;
        padding: 19px;
        border-left: 1px dashed #a9a9a9;

        &:last-child {
            border-right: 1px dashed #a9a9a9;
        }
    }

    .services {

        ul {
            padding-left: 22px;

            li {
                font-size: 12px;
                list-style-image: url("../images/dot.png");
                padding: 8px 0 8px 0;
            }
        }
    }

    .gallery {

        img {
            margin: 10px 0;
        }
    }
}

/* -------------------------- Footer */
.footer {
    background: #000;
    border-bottom: 10px solid #fd6703;

    .grid {
        padding: 20px 0 20px 48px;
    }

    h2 {
        color: #fd6703;
        font-size: 17px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    p {
        color: #e5e5e5;
        font-size: 12px;
    }
}